<!DOCTYPE html>
<html lang="en">

<head>
    <title>Computing Professional Trading Cards</title>
    <meta name="description" content="github tutorial">
    <meta charset="UTF-8">
    <script type="text/javascript" src="../scripts/card.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Dancing+Script:700|EB+Garamond' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../styles/style.css" />
</head>

<body>
    <header>
        <h1>Computing Professional Trading Card</h1>
        <h2>Click the button below to see your card</h2>
    </header>

    <main>
        <div>
            <button onclick="myCard()">See Card</button>

        </div>
        <br>
        <div id="card">
            <h1 id="hCard">Title</h1>
            <img id="imgCard" width="250" height="250"></img>
            <p id="pCard">Description</p>

        </div>
    

    </main>

    <footer>

    </footer>

</body>

</html>